modules = ["python-3.11"]

[workflows]

[deployment]
run = ["sh", "-c", "python3 server.py"]
deploymentTarget = "autoscale"

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 5001
externalPort = 80

[nix]
channel = "stable-24_05"
