modules = ["python-3.11"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Static Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Deploy to GitHub"

[[workflows.workflow]]
name = "Static Server"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 -m http.server 5000"
waitForPort = 5000

[[workflows.workflow]]
name = "Deploy to GitHub"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git config --global user.email \"replit@example.com\" && git config --global user.name \"Replit\" && git remote set-url origin \"https://${GITHUB_TOKEN}@github.com/adamtrabold/music.git\" && git add . && git commit -m \"Update from Replit\" && git push -u origin main"

[deployment]
run = ["gunicorn", "--bind", "0.0.0.0:5000", "main:app"]
deploymentTarget = "autoscale"

[[ports]]
localPort = 5000
externalPort = 80

[nix]
channel = "stable-24_05"
